/* General */

header {
    height: 60px;
}

.portfolio .col {
    height: 100px;
}

.row * {
    border: 1px dashed red;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

footer a {
    color: white;
}

button {
    background-color: transparent;
}

footer a { 
    width: 30px; 
    line-height: 30px; 
}