/* General */

header {
    height: 80px;
}

/* .box {
    border: 1px dashed red;
} */

/* main {
    height: ;
} */

/* .row {
    height: 100%;
} */

.col-auto, .col {
    background-color: aqua;
}

.row * {
    border: 1px dashed red;
}